<ngb-carousel class="carousel">
  <ng-template ngbSlide>
    <div class="banner-slide">
      <img src="../../../../assets/images/home-carousel-images/movie-audience.jpg" class="banner-item" alt="audience watching a movie">
    </div>
    <div class="carousel-caption text-left">
      <h3 class="lets-make-a-movie">Let's Make a Movie!</h3>
      <p>
        Nulla vitae elit libero, a pharetra augue mollis interdum.
      </p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="banner-slide">
      <img src="../../../../assets/images/home-carousel-images/father-daughter-with-clapper.jpg" class="banner-item" alt="father and daughter holding movie clapper">
    </div>
    <div class="carousel-caption text-right">
      <h1 class="lets-make-a-movie">It's so much fun!!!</h1>
      <p>
        Nulla vitae elit libero, a pharetra augue mollis interdum.
      </p>
    </div>
  </ng-template>
</ngb-carousel>
